@import 'base/reset';
@import 'components/advantages';
@import 'components/hills';
@import 'components/hero';
@import 'components/life';
@import 'components/explore';
@import 'components/container';
@import 'components/getting';
@import 'layouts/header';
@import 'layouts/footer';