.getting {
  background-color: #dce8f2;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding-bottom: 117px;
    text-align: left;
  }
}
.getting__title {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
}
.getting__list {
  @media screen and (min-width: 1200px) {
  }
}
.getting__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
}
.getting__item__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
}
.getting__text {
  color: #15143966;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 23.47px;
  line-height: 38.15px;
  letter-spacing: 0px;
}
.getting__container {
}
.getting__container__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: left;
  }
}
.getting__container__item {
}
.getting__img {
  margin: 39px 0;
}
.getting__button {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    width: 210px;
    height: 64px;
    top: 9848px;
    left: 489px;
    opacity: 1;
    border-radius: 122px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 24px;
    background-color: #dd2242;
    border: none;

    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
  }
}
.getting__number {
  width: 35px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #dd2242;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 26.41px;
  line-height: 38.15px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 40px 15px 25px;
  margin: 30px 0;
}
