.hero {
  background-image: url(../../img/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 153px 0 40px;
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, #0000004F, rgba(0, 0, 0, 0.363)), url(../../img/hero\(pk\).png);
    padding-left: 270px;
  }
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 63px;
  color: white;

  @media screen and (min-width: 1200px) {
    width: 271px;
    height: 82px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: 0%;
    text-transform: uppercase;
      margin-top: 160px;
  }
}
.hero__button {
  width: 100%;
  color: white;
  border: none;
  box-shadow: none;
  height: 60px;
  margin-top: 8px;
  background-color: #dd2242;
  border-radius: 107px;

  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  @media screen and (min-width: 1200px) {
    width: 271px;
    height: 80px;
    padding: 20px;
    margin-top: 270px;
  }
}
.hero__list {
  margin-top: 54px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
   @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}
.hero__item {
  padding: 17px 0 17px;
}
.hero__number {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #dd2242;
  margin: 35px 0 4px 0;
}
.hero__list--title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: white;
}
.hero__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #939393;
}
.video {
  width: 100%;
}
