.hills {
  background-color: #ffffff;
  text-align: center;
}
.hills__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 36px;
  padding-top: 180px;

  @media screen and (min-width: 1200px) {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
  }
}
.hills__text {
  color: #6f7787;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 36px;
  @media screen and (min-width: 1200px) {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
  }
}
.hills__button {
  width: 100%;
  color: white;
  border: none;
  box-shadow: none;
  height: 60px;

  background-color: #dd2242;
  border-radius: 107px;

  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 116px;
  @media screen and (min-width: 1200px) {
    width: 210px;
    height: 64px;
    top: 5412px;
    left: 855px;
    opacity: 1;
    border-radius: 122px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 24px;
  }
}
.hills::after {
  position: fixed;
  content: " ";
  display: block;
  width: 100%;
  height: 258px;
  background-image: url(../../img/Whangaehu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
